header{
    background:#0f172a;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h2{
    margin:0;
    font-size:1.25rem;
}

nav{
    display:flex;
    gap:8px;
}

nav button{
    background:var(--bs-primary);
    border:none;
    padding:10px 14px;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font: inherit;
}

nav button:hover{
    background:var(--bs-primary-hover);
}
